.errors_modal
{
    position: fixed;
    width: 320px;
    max-height: 85vh;
    overflow-y: auto;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    border: solid 1px #e8e8e8;
    background: #ffffff;
    color: black;
    z-index: 50000000;
}
.errors_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 49999999;
}

.errors_overlay_hidden {
    display: none;
}
.errors_modal h2
{
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
}

.errors_modal h3
{
    padding-top: 0.6rem;
    font-size: 14px;
    color: black;
}

.errors_modal p
{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 16px;
    color: black;
}
.errors_modal button
{
    margin-top: 20px;
    position: relative;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 100%;
    background: #0092b8;
    color: white;
    padding: 15px;
    overflow: hidden;
    display: inline-block;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

.errors_modal_hidden {
    display: none !important;
    visibility: hidden !important;
}

.errors_message {
    white-space: pre-line;
}
